# Web Entera minimalism

In [475]:
import pandas as pd
ruta_base = "../datos/02_Products/"

# Cargar archivos CSV en variables
accesorios = pd.read_csv(ruta_base + "Accesorios.csv")
banador = pd.read_csv(ruta_base + "Bañador.csv")
calcetines = pd.read_csv(ruta_base + "Calcetines.csv")
calzoncillos_hombre = pd.read_csv(ruta_base + "Calzoncillos_hombre.csv")
camisetas_minimalism_hombre = pd.read_csv(ruta_base + "Camisetas_minimalism_hombre.csv")
carteras = pd.read_csv(ruta_base + "Carteras.csv")
gorros = pd.read_csv(ruta_base + "Gorros.csv")
guantes = pd.read_csv(ruta_base + "Guantes.csv")
jerseis = pd.read_csv(ruta_base + "Jerseis.csv")
pantalones_hombre = pd.read_csv(ruta_base + "pantalones_hombre.csv")
pantalones_mujer = pd.read_csv(ruta_base + "Pantalones_mujer.csv")
ropa_interior_mujer = pd.read_csv(ruta_base + "RopaInteriorMujer.csv")
sudaderas = pd.read_csv(ruta_base + "Sudaderas.csv")

In [476]:
accesorios = accesorios.rename(columns={"product-block__title":"producto","product-price__item":"precio (€)"})
accesorios["precio (€)"] = accesorios["precio (€)"].str.strip("€").astype(float)
accesorios["categoria"] = "accesorios"
accesorios = accesorios[["categoria","producto","precio (€)"]]
accesorios["talla"] = ["única","única",['13/14"','15/16"'],"única"]
accesorios

,categoria,producto,precio (€),talla
0,accesorios,Mochila 360,125.0,única
1,accesorios,Mochila Slim Minimalista,90.0,única
2,accesorios,Funda de portátil impermeable,35.0,"[13/14"", 15/16""]"
3,accesorios,Neceser · Bolso de mano · Minimalism,35.0,única

In [477]:
banador["precio (€)"] = 55.00
banador["categoria"] = "bañadores"
banador = banador[["categoria","product-block__title","precio (€)"]]
banador = banador.rename(columns={"product-block__title":"producto"})
banador["talla"] = [["XS","S","M","L","XL","XXL"]]*len(banador)
banador

,categoria,producto,precio (€),talla
0,bañadores,Bañador fabricado con plásticos reciclados Min...,55.0,"[XS, S, M, L, XL, XXL]"
1,bañadores,Bañador fabricado con plásticos reciclados Min...,55.0,"[XS, S, M, L, XL, XXL]"
2,bañadores,Bañador fabricado con plásticos reciclados Min...,55.0,"[XS, S, M, L, XL, XXL]"

In [478]:
calcetines = calcetines.rename(columns={"product-block__title":"producto","product-price__item":"precio (€)"})
calcetines["categoria"] = "calcetines"
calcetines["precio (€)"] = calcetines["precio (€)"].str.strip("€").astype(float)
calcetines = calcetines[["categoria","producto","precio (€)"]]
calcetines["talla"] = [["35-40","41-46"]]*len(calcetines)
calcetines

,categoria,producto,precio (€),talla
0,calcetines,Calcetines Orgánicos - Pack 3 uds,15.00,"[35-40, 41-46]"
1,calcetines,Calcetines Orgánicos - Pack 5 uds,23.00,"[35-40, 41-46]"
2,calcetines,Calcetines Orgánicos - Pack 7 uds,31.00,"[35-40, 41-46]"
3,calcetines,Calcetines urban classics algodón orgánico X3,19.98,"[35-40, 41-46]"
4,calcetines,Calcetines urban classics algodón orgánico X5,28.00,"[35-40, 41-46]"
5,calcetines,Calcetines urban classics algodón orgánico X7,35.98,"[35-40, 41-46]"
6,calcetines,Calcetines Tobilleros Orgánicos - Pack 3 uds,13.00,"[35-40, 41-46]"
7,calcetines,Calcetines Tobilleros Orgánicos - Pack 5 uds,21.00,"[35-40, 41-46]"
8,calcetines,Calcetines Orgánicos tobillero x7,28.00,"[35-40, 41-46]"
9,calcetines,Calcetines Pinkies Orgánicos - Pack 3 uds,13.00,"[35-40, 41-46]"
10,calcetines,Calcetines Pinkies Orgánicos - Pack 5 uds,21.00,"[35-40, 41-46]"
11,calcetines,Calcetines Pinkies Orgánicos - Pack 7 uds,28.00,"[35-40, 41-46]"

In [479]:
calzoncillos_hombre.rename(columns={
    "product-block__title": "producto",
    "product-price__item": "precio (€)"
}, inplace=True)
calzoncillos_hombre["categoria"] = "calzoncillos"
calzoncillos_hombre = calzoncillos_hombre[["categoria", "producto", "precio (€)"]]
calzoncillos_hombre["precio (€)"] = calzoncillos_hombre["precio (€)"].str.strip("€").astype(float)
calzoncillos_hombre["talla"] = [["S","M","L","XL","XXL"]]*len(calzoncillos_hombre)
calzoncillos_hombre

,categoria,producto,precio (€),talla
0,calzoncillos,Calzoncillos Bóxers Orgánicos - Pack 3 uds,32.0,"[S, M, L, XL, XXL]"
1,calzoncillos,Calzoncillos Bóxers Orgánicos - Pack 5 uds,50.0,"[S, M, L, XL, XXL]"
2,calzoncillos,Calzoncillos Bóxers Orgánicos - Pack 7 uds,68.0,"[S, M, L, XL, XXL]"
3,calzoncillos,Calzoncillos Slips Orgánicos X3,32.0,"[S, M, L, XL, XXL]"
4,calzoncillos,Calzoncillos Slips Orgánicos X5,50.0,"[S, M, L, XL, XXL]"
5,calzoncillos,Calzoncillos Slips Orgánicos X7,68.0,"[S, M, L, XL, XXL]"

In [480]:
camisetas_minimalism_hombre.rename(columns={
    "product-block__title": "producto",
    "product-price__item": "precio (€)"
}, inplace=True)

# Añadir la columna 'Categoria'
camisetas_minimalism_hombre["categoria"] = "camisetas y polos"

# Reordenar las columnas
camisetas_minimalism_hombre = camisetas_minimalism_hombre[["categoria", "producto", "precio (€)"]]
camisetas_minimalism_hombre["producto"] = camisetas_minimalism_hombre["producto"].str.replace("\n", "", regex=True).str.strip()
# Limpiar la columna de precio y convertir a float
camisetas_minimalism_hombre["precio (€)"] = camisetas_minimalism_hombre["precio (€)"].str.strip("€").astype(float)
camisetas_minimalism_hombre["talla"] = [["XS","S","M","L","XL","XXL"]]*len(camisetas_minimalism_hombre)
camisetas_minimalism_hombre.sample()

,categoria,producto,precio (€),talla
28,camisetas y polos,Camiseta algodón orgánico manga larga - ...,30.0,"[XS, S, M, L, XL, XXL]"

In [481]:
carteras.rename(columns={
    "product-block__title": "producto",
    "product-price__item": "precio (€)"
}, inplace=True)

# Añadir la columna 'Categoria'
carteras["categoria"] = "carteras"

# Reordenar las columnas
carteras = carteras[["categoria", "producto", "precio (€)"]]

# Limpiar la columna de precio y convertir a float
carteras["precio (€)"] = carteras["precio (€)"].str.strip("€").astype(float)
carteras["producto"] = carteras["producto"].str.replace("\n", "", regex=True).str.strip()

carteras["talla"] = "única"
carteras

  categoria                                      producto  precio (€)  talla
0  carteras  Cartera Minimalism -                   Negra        18.0  única
1  carteras   Cartera Minimalism -                   Gris        18.0  única
2  carteras  Cartera Minimalism -                   Verde        18.0  única
3  carteras                         Cartera Minimalism x2        33.0  única

In [482]:
gorros.rename(columns={
    "product-block__title": "producto",
    "product-price__item": "precio (€)"
}, inplace=True)

# Añadir la columna 'Categoria'
gorros["categoria"] = "gorros"

# Reordenar las columnas
gorros = gorros[["categoria", "producto", "precio (€)"]]

# Limpiar la columna de precio y convertir a float
gorros["precio (€)"] = gorros["precio (€)"].str.strip("€").astype(float)

# Eliminar saltos de línea y espacios adicionales en la columna 'producto'
gorros["producto"] = gorros["producto"].str.replace("\n", "", regex=True).str.strip()
gorros["talla"] = "única"
gorros

,categoria,producto,precio (€),talla
0,gorros,Gorro + Guantes de algodón reciclado,23.0,única
1,gorros,Gorro de algodón reciclado - ...,15.0,única
2,gorros,Gorro de algodón reciclado - ...,15.0,única

In [483]:
guantes.rename(columns={
    "product-block__title": "producto",
    "product-price__item": "precio (€)"
}, inplace=True)

# Añadir la columna 'Categoria'
guantes["categoria"] = "guantes"

# Reordenar las columnas
guantes = guantes[["categoria", "producto", "precio (€)"]]

# Limpiar la columna de precio y convertir a float
guantes["precio (€)"] = guantes["precio (€)"].str.strip("€").astype(float)

# Eliminar saltos de línea y espacios adicionales en la columna 'producto'
guantes["producto"] = guantes["producto"].str.replace("\n", "", regex=True).str.strip()
guantes["talla"] = "única"
guantes

,categoria,producto,precio (€),talla
0,guantes,Guantes de algodón reciclado - ...,12.0,única
1,guantes,Guantes de algodón reciclado - ...,12.0,única
2,guantes,Gorro + Guantes de algodón reciclado,23.0,única

In [484]:
jerseis.rename(columns={
    "product-block__title": "producto",
    "product-price__item": "precio (€)"
}, inplace=True)

# Añadir la columna 'Categoria'
jerseis["categoria"] = "jerseis"

# Reordenar las columnas
jerseis = jerseis[["categoria", "producto", "precio (€)"]]

# Limpiar la columna de precio y convertir a float
jerseis["precio (€)"] = jerseis["precio (€)"].str.strip("€").astype(float)

# Eliminar saltos de línea y espacios adicionales en la columna 'producto'
jerseis["producto"] = jerseis["producto"].str.replace("\n", "", regex=True).str.strip()
tallas_1 = ["S", "M", "L", "XL", "XXL"]  # Para los primeros 8 productos
tallas_2 = ["XS", "S", "M", "L", "XL", "XXL"]  # Para los siguientes 2 productos

# Asignar la columna 'talla' en base a la longitud del DataFrame
jerseis["talla"] = [tallas_1] * 8 + [tallas_2] * 2
jerseis

,categoria,producto,precio (€),talla
0,jerseis,Jersey de punto de lana merino reciclado con c...,80.0,"[S, M, L, XL, XXL]"
1,jerseis,Jersey de punto de lana merino reciclado con c...,80.0,"[S, M, L, XL, XXL]"
2,jerseis,Jersey de punto de lana merino reciclado con c...,80.0,"[S, M, L, XL, XXL]"
3,jerseis,Jersey de punto de lana merino reciclado con c...,80.0,"[S, M, L, XL, XXL]"
4,jerseis,Jersey de punto fino de lana merino reciclado ...,75.0,"[S, M, L, XL, XXL]"
5,jerseis,Jersey de punto fino de lana merino reciclado ...,75.0,"[S, M, L, XL, XXL]"
6,jerseis,Jersey de punto fino de lana merino reciclado ...,75.0,"[S, M, L, XL, XXL]"
7,jerseis,Jersey de punto fino de lana merino reciclado ...,75.0,"[S, M, L, XL, XXL]"
8,jerseis,Jersey lana merino reciclada - ...,55.0,"[XS, S, M, L, XL, XXL]"
9,jerseis,Jersey lana merino reciclada - ...,55.0,"[XS, S, M, L, XL, XXL]"

In [485]:
pantalones_hombre.rename(columns={
    "product-block__title": "producto",
    "product-price__item": "precio (€)"
}, inplace=True)

# Añadir la columna 'Categoria'
pantalones_hombre["categoria"] = "pantalones_hombre"

# Reordenar las columnas
pantalones_hombre = pantalones_hombre[["categoria", "producto", "precio (€)"]]

# Limpiar la columna de precio y convertir a float
pantalones_hombre["precio (€)"] = pantalones_hombre["precio (€)"].str.strip("€").astype(float)

# Eliminar saltos de línea y espacios adicionales en la columna 'producto'
pantalones_hombre["producto"] = pantalones_hombre["producto"].str.replace("\n", "", regex=True).str.strip()

tallas_1 = ["38","40","42","44","46"]  # Para los primeros 8 productos
tallas_2 = ["XS", "S", "M", "L", "XL"]  # Para los siguientes 2 productos

# Asignar la columna 'talla' en base a la longitud del DataFrame
pantalones_hombre["talla"] = [tallas_1] * 2 + [tallas_2] * 7
pantalones_hombre

,categoria,producto,precio (€),talla
0,pantalones_hombre,Pantalón orgánico Slim Hombre,70.0,"[38, 40, 42, 44, 46]"
1,pantalones_hombre,Pantalón vaquero Slim Hombre,70.0,"[38, 40, 42, 44, 46]"
2,pantalones_hombre,Pantalón Relaxed Jogger Orgánico - ...,55.0,"[XS, S, M, L, XL]"
3,pantalones_hombre,Pantalón Relaxed Jogger Orgánico - ...,55.0,"[XS, S, M, L, XL]"
4,pantalones_hombre,Pantalón Relaxed Jogger Orgánico - ...,55.0,"[XS, S, M, L, XL]"
5,pantalones_hombre,Pantalón Jogger Largo Orgánico · Chándal unise...,55.0,"[XS, S, M, L, XL]"
6,pantalones_hombre,Pantalón Jogger Largo Orgánico · Chándal unise...,55.0,"[XS, S, M, L, XL]"
7,pantalones_hombre,Pantalón Jogger Corto Orgánico · Chándal unise...,40.0,"[XS, S, M, L, XL]"
8,pantalones_hombre,Pantalón Jogger Corto Orgánico · Chándal unise...,40.0,"[XS, S, M, L, XL]"

In [486]:
pantalones_mujer.rename(columns={
    "product-block__title": "producto",
    "product-price__item": "precio (€)"
}, inplace=True)

# Añadir la columna 'Categoria'
pantalones_mujer["categoria"] = "pantalones_mujer"

# Reordenar las columnas
pantalones_mujer = pantalones_mujer[["categoria", "producto", "precio (€)"]]

# Limpiar la columna de precio y convertir a float
pantalones_mujer["precio (€)"] = pantalones_mujer["precio (€)"].str.strip("€").astype(float)

# Eliminar saltos de línea y espacios adicionales en la columna 'producto'
pantalones_mujer["producto"] = pantalones_mujer["producto"].str.replace("\n", "", regex=True).str.strip()

tallas_1 = ["36","38","40","42"]  # Para los primeros 8 productos
tallas_2 = ["XS", "S", "M", "L", "XL"]  # Para los siguientes 2 productos

# Asignar la columna 'talla' en base a la longitud del DataFrame
pantalones_mujer["talla"] = [tallas_1] * 2 + [tallas_2] * 7
pantalones_mujer

,categoria,producto,precio (€),talla
0,pantalones_mujer,Pantalón orgánico Mom Fit Mujer,70.0,"[36, 38, 40, 42]"
1,pantalones_mujer,Pantalón vaquero Regular Mujer,70.0,"[36, 38, 40, 42]"
2,pantalones_mujer,Pantalón Relaxed Jogger Orgánico - ...,55.0,"[XS, S, M, L, XL]"
3,pantalones_mujer,Pantalón Relaxed Jogger Orgánico - ...,55.0,"[XS, S, M, L, XL]"
4,pantalones_mujer,Pantalón Relaxed Jogger Orgánico - ...,55.0,"[XS, S, M, L, XL]"
5,pantalones_mujer,Pantalón Jogger Largo Orgánico · Chándal unise...,55.0,"[XS, S, M, L, XL]"
6,pantalones_mujer,Pantalón Jogger Largo Orgánico · Chándal unise...,55.0,"[XS, S, M, L, XL]"
7,pantalones_mujer,Pantalón Jogger Corto Orgánico · Chándal unise...,40.0,"[XS, S, M, L, XL]"
8,pantalones_mujer,Pantalón Jogger Corto Orgánico · Chándal unise...,40.0,"[XS, S, M, L, XL]"

In [487]:
ropa_interior_mujer.rename(columns={
    "product-block__title": "producto",
    "product-price__item": "precio (€)"
}, inplace=True)

# Añadir la columna 'Categoria'
ropa_interior_mujer["categoria"] = "ropa_interior_mujer"

# Reordenar las columnas
ropa_interior_mujer = ropa_interior_mujer[["categoria", "producto", "precio (€)"]]

# Limpiar la columna de precio y convertir a float
ropa_interior_mujer["precio (€)"] = ropa_interior_mujer["precio (€)"].str.strip("€").astype(float)

# Eliminar saltos de línea y espacios adicionales en la columna 'producto'
ropa_interior_mujer["producto"] = ropa_interior_mujer["producto"].str.replace("\n", "", regex=True).str.strip()
ropa_interior_mujer = ropa_interior_mujer.loc[0:12]

tallas_1 = ["38","40","42","44","46"]  # Para los primeros 8 productos
tallas_2 = ["XS", "S", "M", "L", "XL","XXL"]  # Para los siguientes 2 productos

# Asignar la columna 'talla' en base a la longitud del DataFrame
ropa_interior_mujer["talla"] = [["XS", "S", "M", "L", "XL","XXL"]] * len(ropa_interior_mujer)
ropa_interior_mujer

,categoria,producto,precio (€),talla
0,ropa_interior_mujer,Culotte Minimalism - Blanco,9.0,"[XS, S, M, L, XL, XXL]"
1,ropa_interior_mujer,Culotte Minimalism - Negro,9.0,"[XS, S, M, L, XL, XXL]"
2,ropa_interior_mujer,Culotte Minimalism x3,24.0,"[XS, S, M, L, XL, XXL]"
3,ropa_interior_mujer,Culotte Minimalism x5,35.0,"[XS, S, M, L, XL, XXL]"
4,ropa_interior_mujer,Culotte Minimalism x7,43.0,"[XS, S, M, L, XL, XXL]"
5,ropa_interior_mujer,Tanga Minimalism - Blanca,8.0,"[XS, S, M, L, XL, XXL]"
6,ropa_interior_mujer,Tanga Minimalism - Negra,8.0,"[XS, S, M, L, XL, XXL]"
7,ropa_interior_mujer,Tanga Minimalism x3,21.0,"[XS, S, M, L, XL, XXL]"
8,ropa_interior_mujer,Tanga Minimalism x5,30.0,"[XS, S, M, L, XL, XXL]"
9,ropa_interior_mujer,Tanga Minimalism x7,35.0,"[XS, S, M, L, XL, XXL]"
10,ropa_interior_mujer,Bralette Minimalism - Blanco,18.0,"[XS, S, M, L, XL, XXL]"
11,ropa_interior_mujer,Bralette Minimalism - Negro,18.0,"[XS, S, M, L, XL, XXL]"
12,ropa_interior_mujer,Bralette Minimalism x2,33.0,"[XS, S, M, L, XL, XXL]"

In [488]:
sudaderas.rename(columns={
    "product-block__title": "producto",
    "product-price__item": "precio (€)"
}, inplace=True)

# Añadir la columna 'Categoria'
sudaderas["categoria"] = "sudaderas"

# Reordenar las columnas
sudaderas = sudaderas[["categoria", "producto", "precio (€)"]]

# Limpiar la columna de precio y convertir a float
sudaderas["precio (€)"] = sudaderas["precio (€)"].str.strip("€").astype(float)

# Eliminar saltos de línea y espacios adicionales en la columna 'producto'
sudaderas["producto"] = sudaderas["producto"].str.replace("\n", "", regex=True).str.strip()
sudaderas["talla"] = [["XS","S","M","L","XL","XXL"]]*len(sudaderas)
sudaderas

,categoria,producto,precio (€),talla
0,sudaderas,Sudadera algodón orgánico - ...,55.0,"[XS, S, M, L, XL, XXL]"
1,sudaderas,Sudadera algodón orgánico - ...,55.0,"[XS, S, M, L, XL, XXL]"
2,sudaderas,Sudadera algodón orgánico - ...,55.0,"[XS, S, M, L, XL, XXL]"
3,sudaderas,Sudadera algodón orgánico - ...,55.0,"[XS, S, M, L, XL, XXL]"
4,sudaderas,Sudadera algodón orgánico - ...,55.0,"[XS, S, M, L, XL, XXL]"
5,sudaderas,Sudadera algodón orgánico con capucha - ...,65.0,"[XS, S, M, L, XL, XXL]"
6,sudaderas,Sudadera algodón orgánico con capucha - ...,65.0,"[XS, S, M, L, XL, XXL]"
7,sudaderas,Sudadera algodón orgánico con capucha - ...,65.0,"[XS, S, M, L, XL, XXL]"
8,sudaderas,Sudadera algodón orgánico con capucha - ...,65.0,"[XS, S, M, L, XL, XXL]"
9,sudaderas,Sudadera algodón orgánico con capucha - ...,65.0,"[XS, S, M, L, XL, XXL]"

In [489]:
df = pd.concat([accesorios,banador,calcetines,calzoncillos_hombre,camisetas_minimalism_hombre,carteras,gorros,guantes,jerseis,
                pantalones_hombre,pantalones_mujer,ropa_interior_mujer,sudaderas],ignore_index=True)
df

,categoria,producto,precio (€),talla
0,accesorios,Mochila 360,125.0,única
1,accesorios,Mochila Slim Minimalista,90.0,única
2,accesorios,Funda de portátil impermeable,35.0,"[13/14"", 15/16""]"
3,accesorios,Neceser · Bolso de mano · Minimalism,35.0,única
4,bañadores,Bañador fabricado con plásticos reciclados Min...,55.0,"[XS, S, M, L, XL, XXL]"
...,...,...,...,...
112,sudaderas,Sudadera algodón orgánico con capucha - ...,65.0,"[XS, S, M, L, XL, XXL]"
113,sudaderas,Sudadera algodón orgánico con capucha - ...,65.0,"[XS, S, M, L, XL, XXL]"
114,sudaderas,Sudadera algodón orgánico con capucha - ...,65.0,"[XS, S, M, L, XL, XXL]"
115,sudaderas,Sudadera algodón orgánico con capucha - ...,65.0,"[XS, S, M, L, XL, XXL]"
116,sudaderas,Sudadera algodón orgánico con capucha - ...,65.0,"[XS, S, M, L, XL, XXL]"

In [490]:
df.to_csv("../datos/09_fullproducts_minimalism.csv")